body  { 
  font-family:  arial;
  color: #665544;
  padding: 10px}
.page  {
  border: 2px solid #665544;       
  background-color: #F5A31E;
  padding: inherit;}
.opentaste  {
  font-family:  Georgia;
  font-size: 16px;}
.recipe:first-line  {
  font-size: 20px}
.recipe  {
  font-family:  Comic;
  line-height: 1.2em;}
.intro:first-letter  {
  font-size: 30px;}
.intro  {
  font-size: 16px;
  background-color: #89E633;
  opacity: 0.5;}
.introtab  {
  font-size: 18px;
  word-spacing: 0.3em;  
  text-shadow: 2px 2px 8px;}
h1  {
  background-color: rgba(230,230,50,0.5);
  color: black;}
h2  {
  letter-spacing: 0.5em;}
i  { 
  color: green !important;}
i  {
  color: red;}
p  {
  font-size: 14px;}
dt  {
  color: hsl(328,100%,50%);}
dd  {
  color: hsla(170,100%,50%,0.6);}
table  {
  border: 3px solid #efefef;
  background-color: #00c3ff;
  border-collapse: white;}
input  {
  padding: 6px 12px 6px 12px;
  border: 1px solid #665544;
  color: #ffffff}
span.problems  {
  color: red;
  font-weight: bold;}